

@keyframes rotate45{
    0%{
        transform: rotate(0deg);
        filter:none;
        
    }
    1%{
        filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
    }
    100% {
        transform: rotate(-45deg);
        
    }
}
@keyframes rotate-45{
    0%{
        transform: rotate(0deg);
        filter:none;
    }
    1%{
        filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotate0{
    0%{
        transform: rotate(-45deg);
        filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
    }
    1%{
        filter:none;
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotate-0{
    0%{
        transform: rotate(45deg);
        filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
    }
    1%{
        filter:none;
    }
    100% {
        transform: rotate(0deg);
        filter:none;
    }
}
@keyframes slideRight {
    from {
        margin-left:-400px;
    }
    to {
        margin-left:15px;
    }
}
@keyframes slideLeft {
    from {
        margin-left:15px;
    }
    to {
        margin-left:-400px;
    }
}
@keyframes opacity0 {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@keyframes opacity1 {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.ham{
    height:10px;
}
#ham3{
    position:absolute;
    top:22px; 
    left: 2px;
}
#ham2{
    position:absolute;
    top:22px;
    left:2px;
}
#ham1{
    position:absolute;
    top:7px;
    left:2px;
}
#ham4{
    position:absolute;
    top:38px;
    left:2px;
} 

#navPopup {
    opacity:.6;
    position:absolute;
    top:0;
    height:100vh;
    width:310px;
    left: -20px;
    background-color:black;
    z-index:1;
}
#mobileNav {
    display:table-cell;
    text-align:center;
    position:absolute;
    padding:5px;
    width:65px;
    height:65px;
    margin:15px;
    
    background-color:black;
    border:5px solid white;
    border-radius:5px;
    z-index: 3;

}
#mobileNav:hover {
    cursor:pointer;
}


.rotate45{
    transform: rotate(45deg);
    animation: rotate45 0.7s;

    
    filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
}
.rotate-45{
    transform: rotate(-45deg);
    animation: rotate-45 0.7s;
    filter: brightness(0) saturate(100%) invert(15%) sepia(75%) saturate(6452%) hue-rotate(357deg) brightness(99%) contrast(122%);
}
.rotate0{
    transform: rotate(0deg);
    animation: rotate0 0.5s;
    filter:none;
}
.rotate-0{
    transform: rotate(0deg);
    animation: rotate-0 0.5s;
    filter:none;
}

#navContainer {
    z-index: 2;
    position:absolute;
    top:80px;
    display:table-cell;
    vertical-align: middle;
    text-align:center;
    width:250px;
    padding:10px;
}
.slideRight{
    margin-left:15px;
    animation: slideRight 0.7s forwards;
}
.slideLeft{
    margin-left:15px;
    animation: slideLeft 0.7s forwards;
}
.opacity0{
    opacity:0;
    animation-name:opacity0;
    animation-duration:.5s;
}
.opacity1{
    opacity:1;
    animation-name:opacity1;
    animation-duration:.5s;
}
.mobileNavbarButton{
    width:250px;
    margin-top:15px;
    margin-bottom:15px;
    height: 40px;
}
